*.m~
*.DS_Store
irfu-matlab/
server/
mice/
mice
*.mat
metakernel_rosetta.txt
main.m
control.m
*.TAB
*.BC
*.TLS
*.BSP
*.TSC
gout.txt
gtimes.txt
kernels/
tabindex/

sweepanalysis_4k5eV_1AUPe.txt

plotalot.m

smooth.m

plotalot.m

nansum.m

nansem.m

nanmin.m

nanstd.m

nanmedian.m

nanmean.m

nanmax.m

nanvar.m

gaussmf.m
