*.m~
*.DS_Store


*.TAB
*.BC
*.TLS
*.BSP
*.TSC
*.asv


gout.txt
gtimes.txt
metakernel_rosetta.txt
main.m
control.m

# Need to include "mice" in case it is a symbolic link to a directory.
# irfu-matlab/    # Lapdog does not use irfu-matlab/ anymore.
server/
mice/
mice
kernels/
tabindex/

sweepanalysis_4k5eV_1AUPe.txt
plotalot.m
smooth.m
nansum.m
nansem.m
nanmin.m
nanstd.m
nanmedian.m
nanmean.m
nanmax.m
nanvar.m
gaussmf.m
index/
temp/

summary.xlsx

dustgrains


ManualSweepanalysis.m

macro204.m

more23Sept_tests.m

test_deleteme.m

LP_Ion_curr_backup.m
